h1 {
  text-align: center;
}

table,
th,
td {
  border: 1px black solid;
}

table {
  border-collapse: collapse;
  width: 80%;
  margin: auto;
}

th,
td {
  padding: 10px;
}

th {
  background-color: gray;
  color: white;
}

td {
  text-align: center;
}
