@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400&display=swap");

.container {
  height: 100vh;

  img {
    height: 100%;
    width: 100%;
  }

  .text {
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-50%, -50%);
    color: rgb(251, 241, 249);
    font-family: "Noto Sans TC", sans-serif;
    font-size: 1.2rem;
  }
}
